#progress-bar {
   background: url(/owasphotel/img/percentage-bg.png) no-repeat left center;
   width: 316px;
   height: 39px;
   margin: 0 auto;
	}
#progress-level {
   background: url(/owasphotel/img/progress.png) no-repeat left center;
   height: 39px;
	}